* {
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-image: url(assets/background-tech.jpg);
  background-size: cover;
  padding: 0 10%;
}

h1,
h3 {
  color: aqua;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h3 {
  margin-top: 5rem;
  font-size: 3.2rem;
}

.navigation {
  align-items: center;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  position: relative;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  padding: 1rem 2.8rem;
  background: aqua;
  border-radius: 4rem;
  box-shadow: 0 0 1rem aqua;
  font-size: 1.6rem;
  color: #1c1c1c;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
